:root {
    --main-clr: ;
    --secondary-color: ;
    --font-clr:
}

* {
    margin: 0;
    padding: 0px;
}


.container {
    display: flex;
    height: 100vh;
    width: 100vw;

}

.left {
    display: flex;
    flex-direction: column;
    background-color: #bbf7d0;

}

.right {
    display: grid;
    background-color: #16a34a;
    width: 100%;
}

.main-content {
    display: grid;
    grid-template-columns: 3fr .2fr 3fr;

}


.projects {
    display: grid;
    grid-template-columns: 3fr 3fr;
    height: 70vh;
    width: 50vw;
    gap: 25px;
}


.container div {
    padding: 15px;
    font-size: 32px;
    font-family: Helvetica;
    font-weight: bold;
    color: white;
}


.sidebar {
    display: grid;
}

.sidebar li {
    align-items: center;
    font-size: large;
    color: red;
    opacity: 70%;
}


.side-item {

    height: fit-content;
    width: 10vw;
}

.DashBtn {
    height: 50px;
    width: fit-content;
    margin-right: 90px;
}

.header {
    gap: 25px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: fit-content;
    background-color: black;
    align-items: center;
}

.tophead {
    display: flex;
    background-color: chocolate;
    width: 95%;
}

.tophead>div {
    background-color: chocolate;
    width: 95%;
    height: 15px;
}

.bothead {
    display: flex;
    grid-template-columns: 1fr 3fr 3fr 1fr 1fr;
    background-color: chocolate;
    width: 95%;
    height: 50px;
}

.bothead>div {
    display: flex;
    background-color: chocolate;
    width: 95%;

}

.rightbar {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: fit-content;
    width: 40vw;
}

.alerts {
    display: grid;
    height: 70vh;
    gap: 75px;
    grid-column: 3/3;
}

.alerts>div {
    display: grid;
    background-color: coral;
    border-radius: 2%;
    grid-template-rows: 1fr 5fr;
}


.trend-flexbox,
.annc-flexbox {
    grid-row: 2/2;
}


.project-card {
    background-color: rgb(219, 230, 8);
    border-radius: 2%;
}


.lefttop,
.righttop {
    display: grid;
    background-color: rgb(228, 15, 15);

}




/*/ media queries /*/


@media (max-width:1400px) {
    .projects {
        display: flex;
        flex-direction: column;
        width: 30vw;
    }

    .project-card {
        height: 10vh;
    }

}

@media (max-width:1920px) {

    .main-content>div {
        height: 90%;
        width: 90%;

    }

}